{
 auto_https disable_redirects
}
(shared_auth) {
 @outpost path /outpost.goauthentik.io/*
 handle @outpost {
  reverse_proxy server:9000
 }
}
http://:4533 {
 import shared_auth
 handle {
  request_header -Remote-User
  request_header -X-Authentik-Username
  forward_auth server:9000 {
   uri /outpost.goauthentik.io/auth/caddy
   copy_headers X-Authentik-Username
  }
  reverse_proxy navidrome:4533 {
   header_up Remote-User sso_{http.request.header.X-Authentik-Username}
   header_up -X-Authentik-Username
  }
 }
}
http://:8081 {
 import shared_auth
 handle {
  request_header -X-Authentik-Username
  forward_auth server:9000 {
   uri /outpost.goauthentik.io/auth/caddy
   copy_headers X-Authentik-Username
  }
  reverse_proxy metube:8081
 }
}
https://login.localhost:9443 {
 tls internal
 reverse_proxy server:9000
}
https://kavita.localhost:5443 {
 tls internal
 reverse_proxy kavita:5000
}

https://nextcloud.localhost:8443 {
 tls internal
 reverse_proxy 172.30.80.4:80
}

https://vault.localhost:8243 {
 tls internal
 @admin path /admin /admin/*
 respond @admin 404
 reverse_proxy 172.30.80.5:80
}
